@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(255, 255, 255);
}
.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


.main-content{
    margin-top: 4rem;
    padding-top: 0.25rem;
}

.services-submenu {
    width: 10rem;
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
    margin-top: 0;
  }
  
  .services-submenu li {
    background: #4D4D29;
    cursor: pointer;
  }
  
  .services-submenu li a:hover {
    background: #272715;
  }
  
  .services-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    display: inline-block;
    margin-right: 0.5rem; /* Adjust margin as needed */
  }

  .pagination li:hover {
    background-color: #c5c4c4;  
  }
  
  .pagination li a {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #042f2e;
    transition: box-shadow 0.3s ease; /* Adding transition for smooth effect */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Thin shadow by default */
  }
  
  .pagination li a:hover {
    box-shadow: 
      0 2px 7px #99f6e4; /* Heavy shadow on bottom with color #99f6e4 */
  }

   /* Checkbox Animation code below*/
   .checkbox-wrapper-42 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }
  
  .checkbox-wrapper-42 label {
    display: inline-flex;
    align-items: center;
  }
  
  .checkbox-wrapper-42 .cbx {
    position: relative;
    top: 1px;
    width: 17px;
    height: 17px;
    border: 1px solid #c8ccd4;
    border-radius: 3px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  
  .checkbox-wrapper-42 .cbx:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  
  .checkbox-wrapper-42 .lbl {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx {
    border-color: transparent;
    background: #0f766e;
    animation: jelly-42 0.6s ease;
  }
  
  .checkbox-wrapper-42 input[type="checkbox"]:checked ~ .cbx:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  
  .checkbox-wrapper-42 .cntr {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
  }
  
  @keyframes jelly-42 {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.02, 0.90);
    }
    40% {
      transform: scale(0.90, 1.02);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.97, 1.02);
    }
    75% {
      transform: scale(1.02, 0.97);
    }
    to {
      transform: scale(1, 1);
    }
  }
   /* Checkbox Animation code aboce*/