@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: rgb(255, 255, 255);
}
.josefin-sans{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }


.main-content{
    margin-top: 4.5rem;
}